<%- include('header'); -%>
<h2>This is the about page</h2>
<p>Barr explained that Justice Department Inspector General Michael Horowitz has a pending investigation into the FISA warrants and said the probe will be complete by May or June. He then confirmed he's personally reviewing the investigation itself.

    “More generally, I am reviewing the conduct of the investigation and trying to get my arms around the aspects of the counterintelligence investigation that was conducted in the summer of 2016,” Barr testified.</p>
<%- include('footer'); -%>